extends ../layout/index

block content   
    main.container.mt-5
        .row    
            .col-md-5
                img.img-fluid(src="/img/about.jpg", alt="About image")
            .col-md-7
                h1 #{pageTitle}
                blockqoute Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel nisi nec orci bibendum porttitor. Morbi venenatis ante in urna varius euismod. Vivamus porttitor ante consequat magna dapibus accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras mattis elit eleifend, ornare lacus eget, euismod velit. 
                p In scelerisque porttitor fermentum. Aliquam quis turpis sed magna vestibulum volutpat. Praesent euismod euismod velit, nec aliquet turpis mollis ac. 
                p Quisque et erat tellus. Pellentesque interdum eu magna vitae dignissim. Maecenas auctor egestas mauris, vel blandit sem commodo eget. Curabitur commodo, nisl eget ullamcorper vulputate, massa felis ornare leo, eu interdum lacus diam nec ante. Donec scelerisque enim vel iaculis condimentum. Morbi et massa in nibh porta tincidunt. Vivamus id ante eu nisl congue eleifend ut non diam. Ut et lacus ac ex sagittis scelerisque in in ipsum. Nam ac volutpat nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas felis justo, condimentum ut tortor in, mollis suscipit justo. Aliquam erat volutpat.
    .icons-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icon_trust.svg", alt="")
                    h2.mb-4 Trust & Safety
                    p Nullam vulputate nisi eu nulla ultrices rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin cursus non ligula vel posuere. Fusce gravida elementum sem, sit amet feugiat felis lacinia a.
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icon_destiny.svg", alt="")
                    h2.mb-4 Best Destinations
                    p Nullam vulputate nisi eu nulla ultrices rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin cursus non ligula vel posuere. Fusce gravida elementum sem, sit amet feugiat felis lacinia a.
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icon_price.svg", alt="")
                    h2.mb-4 Best Price
                    p Nullam vulputate nisi eu nulla ultrices rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin cursus non ligula vel posuere. Fusce gravida elementum sem, sit amet feugiat felis lacinia a.
                

